<!DOCTYPE html>
<html>
<head>
	<style type="text/css">

	body {background-color: lightgreen;}
	h1{color: grey;}
	p{color:grey;}
	










</style>
	
</head>
<body>
	<div class="col-12">
		<ul>
		<li><a class="active" href="steak">steak</a></li>
		<li><a href="salad">salad</a></li>
		<li><a href="pasta">pasta</a></li>
		</ul>
	</div>


<h1> WELCOME TO THE FOODGUIDE</h1>
<P> Here at the foodguide you can check out food recipes for multiple foods, you can even post your own recipe for a certain food. 
</P>
<p> GET STARTED BY CLICKING ON A FOOD</p>

<button type="button"> steak</button>
<button type="button"> salad</button>
<button type="button"> pasta</button>


</body>
</html>