<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	body{background-color:lightgrey;}
	h1{color: white;
		text-align:center;
		text-transform:uppercase;
		text-shadow:-1px 0 black,0 1px black, 1px 0 black, 0 -1px black;

		padding:20px;}
	p{color:grey;
		text-align:right;
	padding-top:60px;
		padding-bottom:60px;
		padding-right:60px;
		padding-left:60px;}
	h4{color:grey;
		padding top:40px;
		padding-right:60px;
		padding-left:60px;
		}
	</style>
</head>
<body>
<h1> welcome to the best salad bar in the world</h1>
<!-- <h5> quinoa salad recipe</h4> -->

<p>
	QUINOA SALAD RECIPE:

    In a saucepan bring water to a boil. Add quinoa and a pinch of salt. Reduce heat to low, cover and simmer for 15 minutes. Allow to cool to room temperature; fluff with a fork.


    Meanwhile, in a large bowl, combine olive oil, sea salt, lemon juice, tomatoes, cucumber, green onions, carrots and parsley. Stir in cooled quinoa.</p>
<p>
{%for salad in salads%}
<br>
<span>recipe:</span>
<br>
<span>{{salad.recipe}}</span>
<br>



{%endfor%}




</p>
<form method="POST" action = '/salad'>
		<input type="text" name="recipe" placeholder="your recipe">
		<br>
		<input type="submit" value="post">

</body>
</html>